table{
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 200px;
   

}
table tr:hover{
    background-color: rgb(85, 65, 54);
}
td,th{
    border: 1px solid black;
    padding:15px;
   margin: 100px;
   background-color: rgb(184, 134, 109);
}
th{
    background-color: rgb(247, 180, 108);
}
th:hover{
    background-color: rgb(85, 65, 54);
}


body{
    background: linear-gradient(to right, #feffff, #70a5e0);
}
h1{
    border: 1x solid black;
    margin-left: 200px;

}
td{
    color:rgb(8, 8, 8)
}
tr{
    font:1.5em sans-serif;
    color:rgb(0, 0, 0)

}